html, body
{
  font-family: 'proxima-nova', Arial, sans-serif;
}

#yehaw-event-map-wrapper
{
  position: relative;
  margin: 0 auto;
  max-width: 720px;
}

#yehaw-event-map
{
  height: 400px;
  width: 100%;
}

#yehaw-event-map-overlay-toggle
{
  background: #272727;
  border: none;
  color: #FFF;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  padding: 1em;
  text-transform: uppercase;
  transition: .1s opacity linear;
  width: 100%;
}

#yehaw-event-map-overlay-toggle:hover
{
  opacity: 0.8;
}

.yehaw-event-location
{
  border-top: 1px solid #CCC;
  display: block;
  font-size: 1.25em;
  font-weight: bold;
  margin-top: 0.5em;
  padding-top: 0.7em;
}

.yehaw-event-map-info
{
  display: block;
  font-size: 1.1em;
  margin-bottom: 1em;
}

.yehaw-event-title
{
  color: #222;
  display: block;
  font-weight: bold;
}

.yehaw-event-date
{
  display: block;
}
