html, body
{
  font-family: 'Montserrat', Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#map-wrapper
{
  position: relative;
  height: 100%;
}

#map
{
  height: 100%;
  float: right;
  width: 70%;
}

#event-list
{
  height: 100%;
  list-style: none;
  margin: 0;
  overflow: auto;
  padding: 0;
}

#event-list li
{
  cursor: pointer;
  padding: 0.75em;
  transition: .1s background linear;
}

#event-list li:hover
{
  background: #EEE;
}

#event-list .event-title
{
  display: block;
  font-weight: bold;
}

#event-list .event-date
{
  display: block;
}

#event-list .event-location
{
  display: block;
}

.map-location-info-wrapper
{
  font-size: 1.1em;
}

.map-location-info
{
  display: block;
  margin-bottom: 1em;
}

.map-location-info .event-title
{
  color: #222;
  display: block;
  font-weight: bold;
}

.map-location-info .event-date
{
  display: block;
}

.map-location-info-wrapper .explanation
{
  border-bottom: 1px solid #CCC;
  display: block;
  margin-bottom: 0.5em;
  padding-bottom: 0.7em;
}

.map-location-info-wrapper .event-location
{
  border-top: 1px solid #CCC;
  display: block;
  font-size: 1.25em;
  font-weight: bold;
  margin-top: 0.5em;
  padding-top: 0.7em;
}

.map-event-info-wrapper
{
  font-size: 1.2em;
}

.map-event-info
{
  display: block;
  margin-bottom: 1em;
}

.map-event-info .event-title
{
  color: #222;
  display: block;
  font-weight: bold;
}

.map-event-info .event-date
{
  display: block;
}
