html, body
{
  font-family: 'Open Sans', Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Layout
------------------------------------------------------- */

#map-wrapper
{
  background: #E5E3DF;
  height: 100%;
  position: relative;
}

#map
{
  height: 100%;
  width: 100%;
}

/* Map Menu Controls
------------------------------------------------------- */

.map-menu-controls
{
  background: #272727;
  display: flex;
  position: fixed;
  z-index: 2;
  width: 100%;
}

.map-menu-control
{
  background: #272727;
  border: none;
  color: #FFF;
  cursor: pointer;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  outline: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width: 50%;
}

.map-menu-control span
{
  display: block;
  padding: 1em;
}

.map-menu-control.open
{
  background: #FFF;
  color: #272727;
}

#toggle-waterlines-control
{
  bottom: 0;
  position: fixed;
  width: 100%;
}

@media (min-width: 37.5em)
{
  .map-menu-control
  {
    width: auto;
  }

  .map-menu-control span
  {
    padding: 1em 2em;
  }

  #toggle-waterlines-control
  {
    position: absolute;
    right: 0;
    width: auto;
  }
}

/* Map Menu
------------------------------------------------------- */

.map-menu
{
  background: #FFF;
  box-sizing: border-box;
  height: 0;
  padding-top: 2.5em;
  opacity: 0;
  overflow: auto;
  position: fixed;
  transition: opacity 0.2s;
  width: 100%;
  z-index: 1;
}

.map-menu.open
{
  height: 100%;
  opacity: 1;
}

.map-menu-list
{

  width: 100%;
}

@media (min-width: 37.5em)
{
  .map-menu
  {
    width: 30em;
  }
}

/* Event List
------------------------------------------------------- */

#event-list
{
  list-style: none;
  margin-bottom: 4em;
  overflow: auto;
  padding: 0;
}

#event-list li
{
  cursor: pointer;
  padding: 0.75em;
  transition: .1s background linear;
}

#event-list li:hover
{
  background: #EEE;
}

#event-list .event-title
{
  display: block;
  font-weight: bold;
}

#event-list .event-date
{
  display: block;
}

#event-list .event-location
{
  display: block;
}

@media (min-width: 37.5em)
{
  #event-list
  {
    margin-bottom: 1em;
  }
}


/* Info Window (Map Location)
------------------------------------------------------- */

.map-location-info-wrapper
{
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1.1em;
}

.map-location-info
{
  display: block;
  margin-bottom: 1em;
}

.map-location-info .event-title
{
  color: #222;
  display: block;
  font-weight: bold;
}

.map-location-info .event-date
{
  display: block;
}

.map-location-info-wrapper .explanation
{
  border-bottom: 1px solid #CCC;
  display: block;
  margin-bottom: 0.5em;
  padding-bottom: 0.7em;
}

.map-location-info-wrapper .event-location
{
  border-top: 1px solid #CCC;
  display: block;
  font-size: 1.25em;
  font-weight: bold;
  margin-top: 0.5em;
  padding-top: 0.7em;
}

.map-location-info-list
{
  max-height: 10em;
  overflow-y: auto;
}

/* Info Window (Event)
------------------------------------------------------- */

.map-event-info-wrapper
{
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1.2em;
}

.map-event-info
{
  display: block;
  margin-bottom: 1em;
}

.map-event-info .event-title
{
  color: #222;
  display: block;
  font-weight: bold;
}

.map-event-info .event-date
{
  display: block;
}

/* Filter List
------------------------------------------------------- */

#filter-wrapper h2
{
  left: 50%;
}

#filter-list
{
  list-style: none;
  overflow: auto;
  padding: 0;
}

#filter-list li
{
  margin: 1.5em;
}

#filter-list li:first-child
{
  margin-top: 0;
}

#filter-list label
{
  display: block;
  font-weight: bold;
  margin-bottom: 0.25em;
}

#filter-list label[for="filter-past-events"]
{
  cursor: pointer;
}

#filter-list select, #filter-list input
{
  border: 1px solid #CCC;
  box-sizing: border-box;
  display: block;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 1em;
  padding: 0.5em;
  width: 100%;
}

#filter-list label.disabled
{
  color: #DDD;
}

#filter-list input#filter-past-events
{
  background: #FFF;
  border: 1px solid #000;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.6em;
  width: auto;
}

#filter-list input#filter-past-events::before
{
  background: #FFF;
  border: 2px solid #CCC;
  content: '';
  display: block;
  height: 1em;
  margin-top: -0.2em;
  width: 1em;
}

#filter-list input#filter-past-events[disabled]::before
{
  border-color: #DDD;
}

#filter-list input#filter-past-events::after
{
  background: #333;
  content: '';
  display: block;
  height: 0.65em;
  margin-left: 0.3em;
  margin-top: -0.95em;
  opacity: 0;
  transition: opacity 0.2s;
  width: 0.65em;
}

#filter-list input#filter-past-events[disabled]::after
{
  background: #CCC;
}

#filter-list input#filter-past-events:checked::after
{
  opacity: 1;
}

/* No Events Message
------------------------------------------------------- */

.status-message
{
  padding: 1.5em;
}
